/* your styles go here */

.navbar {
  background: url('../image/w4p-logo-banner.png');
  background-repeat: no-repeat;
  //background-size: cover;
  //background-attachment: fixed;
  //background-size: 100% 100%;
  //height: 100px;
}

.navbar-header  {
  //height: 80px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: var(--primary-accent);
}

body {
  font-size: 2rem;
}

footer {
  display:none;
}

